<style>
    .flex-container {
  display: flex;
  height: 200px;
  align-items: flex-start;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>
    
    
    <div class="flex-container" style="display:flex">
           <div>2</div>
       <div>3</div>
       <div>4</div>
       <div>1</div>
       <div>2</div>
       <div>3</div>
       <div>4</div>
       <div>1</div>
       <div>2</div>
       <div>3</div>
       <div>4</div>
       <div>2</div>
       <div>3</div>
       <div>4</div>
       <div>1</div>
       <div>2</div>
       <div>3</div>
       <div>4</div>       <div>2</div>
       <div>3</div>
       <div>4</div>
       <div>1</div>
       <div>2</div>
       <div>3</div>
       <div>4</div>       <div>2</div>
       <div>3</div>
       <div>4</div>
       <div>1</div>
       <div>2</div>
       <div>3</div>
       <div>4</div>       <div>2</div>
       <div>3</div>
       <div>4</div>
       <div>1</div>
       <div>2</div>
       <div>3</div>
       <div>4</div>       <div>2</div>
       <div>3</div>
       <div>4</div>
       <div>1</div>
       <div>2</div>
       <div>3</div>
       <div>4</div>
       
    </div><script>
      var arr=["man", "woman","man"];
var count={},item;       
for( item in arr){
count[arr[item]]=(count[arr[item]]||0)+1;
}
console.log(count)
    </script>

